<h1>Add Todo</h1>
<%= form_with(model: todo) do |form| %>

  <div class='mb-2'>
    <%= form.text_field :title, class:'form-control', placeholder: 'Enter new todo item...' %>
  </div>

  <div class='text-end'>
    <%= form.submit 'Create Todo', class:'btn btn-primary' %>
  </div>
<% end %>
