<div class='row mt-5'>
  <section id='todos' class='col'>
    <h1>Todos</h1>
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th>Todo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @todos.each do |todo| %>          
          <%= render todo %>
        <% end %>
      </tbody>
    </table>
  </section>
  <section id='new-todo' class='col d-flex justify-content-center align-items-center'>
    <%= link_to "New todo", new_todo_path, class:'btn btn-primary' %>
  </section>
</div>

