<div class='row my-5'>
  <section class='col'>
    <h1>Todos</h1>
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th>Todo</th>
          <th></th>
        </tr>
      </thead>
      <tbody id='todos'>
        <% @todos.each do |todo| %>          
          <%= render todo %>
        <% end %>
      </tbody>
    </table>
  </section>
  <section id='new-todo' class='col'>
    <h1>Add Todo</h1>
    <%= render partial: 'todos/form', locals: { todo: Todo.new } %>
  </section>
</div>

