<%= form_with(model: post, id: dom_id(post, 'form')) do |form| %>
    <td><%= form.object.persisted? ? form.object.id : 'new' %></td>
    <td><%= form.text_field :title, class: 'form-control' %></td>
    <td class='text-center'><%= form.submit 'Add Post', class: 'btn btn-primary' %></td>
<% end %>
