<section id='posts-section' class='mt-3'>
  
  <header>
    <h1>Posts</h1>
  </header>

  <main class='table'>
    <header class='table-head row'>
      <div class='col'>#</div>
      <div class='col'>Post</div>
      <div class='col'></div>
    </header>
    <div class='table-body row'>
      <%= turbo_frame_tag 'new-post', src: new_post_path %>
      <div id='posts'>
        <%= render @posts %>      
      </div>
    </div>
  </main>

</section>
